/* CSS Reset */
html, body, h1, h2, p, ul, ol, li, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    align-items: center;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    position: relative;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;
    color: #555;
    line-height: 1.5; /* Menambahkan jarak antara baris */
}

ul, ol {
    margin-left: 100px;
    margin-bottom: 20px;
    color: #555;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.right-image {
    width: 175px;
    float: right; /* Mengatur posisi gambar ke kanan */
    margin-right: 20px; /* Jarak antara gambar dengan teks */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
.left-image {
    width: 150px;
    float: left; 
    margin-left: 20px; 
    box-shadow: 0 0 5px rgba(255, 250, 250, 0.2);
}
.centered-image {
    width: 200px;
    height: auto;
    display: inline-block; /* Agar elemen inline agar dapat diatur ke tengah */
    vertical-align: middle; /* Mengatur gambar ke tengah vertikal */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
.centered-container {
    margin: auto;
    margin-bottom: 50px;
    text-align: center; /* Mengatur gambar menjadi tengah horizontal */
}

.centered-video {
    margin: auto;
    height: 50%;
    width: 50%;
    text-align: center;
}
video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.centered-certificate {
    width: 500px;
    max-width: 100%;
    height: auto;
    display: inline-block; /* Agar elemen inline agar dapat diatur ke tengah */
    vertical-align: middle; /* Mengatur gambar ke tengah vertikal */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
    .right-image {
        width: 125px;
        float: right; /* Mengatur posisi gambar ke kanan */
        margin-right: 20px; /* Jarak antara gambar dengan teks */
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
    .left-image {
        width: 100px;
        float: left; 
        margin-left: 20px; 
        box-shadow: 0 0 5px rgba(255, 250, 250, 0.2);
    }
    .centered-image {
        width: 150px;
        height: auto;
        display: inline-block; /* Agar elemen inline agar dapat diatur ke tengah */
        vertical-align: middle; /* Mengatur gambar ke tengah vertikal */
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }

}
@media screen and (max-width: 458px) {
    .right-image {
        width: 125px;
    }
    .left-image {
        width: 100px;
    }
    .centered-image {
        width: 150px;
    }
    .centered-container {
        margin-left: 35%;
        margin-right: 28%;
        margin-bottom: 50px;
        text-align: center; /* Mengatur gambar menjadi tengah horizontal */
    }
}